.ShopMenu{
    position: relative;
    width:100%;
    padding: 20px 10px;
    border: 1px solid rgba(192, 192, 192, 0.062);
    background:#151515 ; 
    border-radius: 10px; 
    margin: 10px 0px;
    height: 100vh;
}

.ShopMenu .line{
    padding: 15px 30px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 3px 0px;
    font-size: .9em;
    background: rgba(255, 255, 255, 0.023);
    text-transform: lowercase;
}

.ShopMenu .top{
    background: black;
}

.ShopMenu .top-active{
    background: var(--color-primary);
}
.ShopMenu .top-active:hover{
    background: var(--color-primary)!important;
}

.ShopMenu .line .arrow{
    position: absolute;
    right: 20px;
}

.ShopMenu .line .icon{
    width: 50px;
    height: 50px;
    background: var(--color-primary-glass);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.ShopMenu .line .icon img{
    border-radius: 5px;
}

.ShopMenu span{
    opacity: .6;
}

.ShopMenu .line span{
    
    margin-left: 10px;
   
}

.ShopMenu .active{
    background: var(--color-primary-glass);
    opacity: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.397);
}

.ShopMenu a:hover{
    background: var(--color-primary-glass);
    opacity: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.397);
}