.panier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panier .content{
    flex: 3;
    padding: 20px 20px 80px 20px;
    background: rgba(0, 149, 255, 0.037);
    min-height: 70vh;
    position: relative;

}


.panier .boutton {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;

}

.panier .commandes{
    padding: 30px;
    position: relative;
    min-height: 68vh;
    border-radius: 5px;
    border:1px solid var(--color-primary-glass);
}

.panier * {
    list-style: none !important;;
}

.panier .boutton button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    gap: 5px;
    font-size: 1.1em;
    cursor: pointer;
    outline: none;
}

.panier .boutton button:hover{
    background: rgb(22, 107, 255);
}

.panier-vide{
    width: 100%;
    background: transparent;
    border-color: var(--color-primary-glass);
}