.Appareil{
    position: relative;
    width: 280px;
    box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.199);
    border: 1px solid var(--color-primary-glass);
    padding:5px 0px;
    border-radius: 5px;
    margin: 10px ;
}


.Appareil .content .cover{
    width: 95%;
    height: 200px;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    
}

.Appareil .content .cover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background: rgba(0, 119, 255, 0.146);
    z-index: 1;
}

.Appareil .content .cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Appareil .content p{
    width: 95%;
    padding: 10px 5px;
    margin: 5px auto;
    border-radius: 5px;
    background: var(--color-primary-glass);
    text-align: center;
}

.Appareil .content .btn{
   
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Appareil .content .btn a{
    position: relative;
    padding: 10px;
    background: var(--color-primary);
    text-decoration: none !important;
    color: white;
    border-radius: 5px;
    font-family: calibri;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
    border: 1px solid transparent;
}

a{
    text-decoration: none !important;;
}

.Appareil .content .btn a:hover{
    background:transparent;
    color: black;
    border: 1px solid var(--color-primary);
}

.Appareil .content .btn a img{
    position: absolute;
    right: 10px;
}

.Appareil .content .btn a:last-child{
    margin: 5px 0px;
}



.Appareil .dashboard{
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 15px;
    display: flex;
    gap: 5px;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s ease;
    width: 40%;
    justify-content: end;
}

.Appareil:hover .dashboard{
    transform: translateY(0px);
    opacity: 1;
    
}

.Appareil .dashboard a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.Appareil .dashboard a{

    background: var(--color-primary);
   
}

.Appareil .dashboard a:last-child:hover{
   
    background: rgb(255, 35, 35);
}

.Appareil .dashboard a:hover{
    background: var(--color-primary-glass);
}


.Appareil .dashboard a:active{
    transform: scale(.9);
}

.Appareil .dashboard a:last-child img{
    transform: scale(.8);
}