.profil{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 768px){
    .profil{
        padding-top: 0px;
    }
}