.AllAppareil .container{
    max-width:100% !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width:1500px){
    .AllAppareil .container{
        flex-wrap: wrap;
    }
}

