
.AllAppareil .container{
    max-width: 1300px !important;
    display: flex;
    gap: 20px;
    padding: 30px 0px 30px 0px;
    justify-content:start;
    flex-wrap: wrap;
}



@media screen and (max-width:1500px){
    .AllAppareil .container{
        justify-content:center !important;
    }
}

