.Dashboard{
    transform: translateY(80px);
    height: 91vh;
    overflow: hidden;
}

.Dashboard  .content-data{
    height: 95vh;
    overflow-y: scroll;
}


.Dashboard .content-data::-webkit-scrollbar{
    width: 5px;
}

.Dashboard .content-data::-webkit-scrollbar-track{
    background-color: var(--color-primary-glass);
    border-radius: 10px;
}

.Dashboard .content-data::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: 10px;
}

@media only screen and (max-width: 1000px){
    .Dashboard {
        height: 100%;
    }
}