.commandes {
    margin-top: 30px;
    font-family: calibri;
    font-size: 1.1em;
    margin-bottom: 300px !important;
}

.commandeBorderError{
    border: 1px solid red!important;
    background: rgba(255, 0, 0, 0.027);
}

.commandeBorderOk:hover{
    background: rgba(0, 255, 145, 0.094)!important;
}

.bg-success{
    background: rgb(4, 224, 118) !important;
}
.commandeBorderOk{
    border: 1px solid rgb(0, 255, 132)!important;
    background: rgba(0, 255, 145, 0.094)!important;
}

.commandeBorderError:hover{
    background: rgba(255, 0, 0, 0.027)!important;
}


.commandes .commande{

    display: flex;
    align-items: center;
    margin-top: 5px;
    border: 1px solid var(--color-primary-glass);
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: lowercase;

}

.commandes  #head-commande{

    background: black !important;
    color: white;
}

.commandes #head-commande .thumbnail{
    background: none;
    border: none;
}

.commandes .commande:hover{
    background:var(--color-primary-glass-2);
}

.commandes .commande .email{
    color: var(--color-primary);
}

.commandes .commande .thumbnail{

    border: 1px solid var(--color-primary-glass);
    border-radius: 5px;
    background:var(--color-primary);
    cursor: pointer;
}

.commandes .commande .statut::first-letter{
    text-transform: uppercase;
}

.commandes .commande .statut{
    text-transform: lowercase;
    width: 100%;
    background: var(--color-primary);
    color: white;
    border-radius:5px ;
    text-align: center;
    font-size: 1em;
    
}

.commandes .commande .menu {
    position: relative;
    height: 100%;
}

.commandes .commande .menu .all-statut{
    position: absolute;
    top: 0px;
    list-style: none;
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    background: var(--color-primary-glass);
    color: white;
    z-index: 5;
}



.commandes .commande .menu .all-statut li{
    background: var(--color-primary);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    cursor: pointer;


}

.commandes .commande .menu .all-statut li:hover{
    border-color: white;
    color: white;
}

.commandes .commande .menu .all-statut li::first-letter{
    text-transform: uppercase;
}

/**********************************commande Details**********************/
.commandeDetails .commande-head{

    background: var(--color-primary);
    color: white;
    padding: 20px;
    font-size: 1.5em;
    font-family: calibri;
}

.commandeDetails .commande-head small{
    font-style: italic;
    font-size: .8em;
    opacity: .9;
}

.commandeDetails .info-perso em{
    color: var(--color-primary);
    font-size: 1.5em;
    
}

.commandeDetails  .info-perso{
    font-family: calibri;
    font-style: italic;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.commandeDetails button:not(.Toastify__toast button,.annuler button,.confirm-delete button){

    outline: none !important;
    padding: 18px 25px 18px 25px;
    border-radius: 5px;
    background: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
   
}

.commandeDetails button:not(.Toastify__toast button):hover{
    color: var(--color-primary);
    border-color: var(--color-primary);
    background: transparent !important;;
}

.commandeDetails button img{
    filter: none;
}

/************************************search/********************************/

.commandes form .search{
    width: 100%;
    border: 1px solid var(--color-primary);
    background-image: url('/image/loop2.svg'); 
    background-repeat: no-repeat; 
    background-position: right center;
    background-size: 30px 30px;

}

.commandes form select{

    width: 100%;
    border: 1px solid var(--color-primary) !important;
    background-size: 30px 30px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.commandes form {
    padding: 10px;
    align-items: center;
  
}

/***************** adress-info ********************/

.commandeDetails  .adress-info h5{
    margin-left: 20px;
    text-align: start;
    font-family: calibri;
    font-style: italic;
    color: var(--color-primary);
}

.commandeDetails .adresses{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.commandeDetails .commentaire{
    border: 1px dashed var(--color-primary);
    padding: 15px;
    border-radius: 5px;
   
}




