.CommandeForm form input{
    padding: 15px;
    border-color: var(--color-primary-glass);
}

.CommandeForm form textarea{
    padding: 15px;
    border-color: var(--color-primary-glass);
}

.CommandeForm form select{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border-color: var(--color-primary-glass);
    color: rgb(119, 119, 119);
    outline: none;
}

.CommandeForm h2{
    font-family: calibri;
    color: var(--color-primary);
}


.CommandeForm  .btn-commande{

    border: 1px solid transparent !important;
}


.CommandeForm  .btn-commande:hover{
    background: transparent !important;
    color: var(--color-primary);
    border-color: var(--color-primary) !important;
}

.CommandeForm  .btn-commande:hover img{
     filter: brightness(0) saturate(100%) invert(49%) sepia(91%) saturate(3318%) hue-rotate(161deg) brightness(104%) contrast(101%) !important;
}


