.About{
    position: relative;
    max-width: 1800px;
    min-height: 300px;
    overflow: hidden;
    color: white;
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 50px;
    font-size: 1.3em;
    font-family:calibri;
    margin:-40px auto 20px auto;
    cursor: pointer;
    border-radius: 10px;
    transition: all .85s ease;
}

.about-show{
    opacity: 1;
    transform: translateY(0px);
}

.about-hide{
    opacity: 0;
    transform: translateY(100px);
}



.About h1,p{
    position: relative;
    z-index: 5;
}

.About p{
    flex: 3;
    max-width: 90%;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.906);
    text-align: justify;
}


.About h1{
    max-width: 80%;
    font-size: 2em;
    text-align: center;
    margin: 0px auto;
}

.About::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg , black,rgba(0, 0, 0, 0.568));
}
.About:hover p{
    color: white;
}

.About:hover::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:var(--color-primary-glass);
}
.About img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;

}

@media only screen and (max-width:1000px){

    .About p{
     
        max-width: 100%;
        font-size: .8em;
       
    }

    .About h1{
        max-width: 100%;
        font-size: 1em;
        text-align: center;
       
    }

    .About{
        padding: 30px 20px 20px 20px;
        margin: 0px 10px 10px 10px;
    }
    .About p{
        text-align: center;
    }
}