.Categorie{
    position: relative;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: .5px solid var(--color-primary-glass);
    min-height: 300px;
    transition: all .85 ease;
    background: white;
}

.Categorie .thumbnail{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    filter: contrast(.6) brightness(1.3);
    transform: scale(1);
    transition: all .85s ease;
}

.Categorie:hover .thumbnail{
    transform: scale(1.2);
}

.Categorie .thumb{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 5px 5px;
}

.Categorie::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px 20px 5px 5px;
    background:var(--color-primary-glass);
    z-index: -1;
    transition: all .3s ease;
    transform: translateY(-15px);

}

.Categorie:hover::after{
    transform: rotate(0deg);
    
}

.Categorie:hover h1{
    position: relative;
    transition: all .3s ease;
    opacity: 1;
}

.Categorie:hover::before{
    background-color:var(--color-primary-glass);
}



.Categorie h1{
    position: relative;
    z-index: 1;
    font-family:Calibri;
    opacity: .8;
    font-size: 1.1em;
    text-align: center;
    margin:0px;
}

.Categorie .footerContainer{

    display: flex;
    height: 70px;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background:var(--color-primary) ;
    padding: 10px 20px;
    border-radius: 10px 10px 5px 5px;
    z-index: 2;
   
}

.Categorie .im2{
    transform: rotate(180deg);
}

.Categorie:hover .im1{
    transform: translateX(5px);
}

.Categorie:hover .im2{
    transform: rotate(180deg) translateX(5px);
}

.Categorie .footerContainer img{
    transition: all .85s ease;
}

.Categorie .footerContainer img,span{
    opacity: .8;
}

.Categorie .logo{
    position: relative;
    z-index: 1;
}

.Categorie .footerContainer div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.Categorie .dashboard{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 25px;
    display: flex;
    gap: 5px;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s ease;
    width: 40%;
    justify-content: end;
}

.Categorie:hover .dashboard{
    transform: translateY(0px);
    opacity: 1;
    
}

.Categorie .dashboard button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: all .5s ease;
    border: none;
    outline: none;
}


.Categorie .dashboard button:first-child{

    background: var(--color-primary);
   
}

.Categorie .dashboard button:last-child{
   
    background: rgb(255, 35, 35);
}

.Categorie .dashboard button:hover{
    background: black;
}

.Categorie .dashboard button:last-child img{
    transform: scale(.8);
}

.Categorie .hide{
    display: none;
}