.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
.banner-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .banner-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.banner-slide img {
    width: 100%;
    height: auto;
  }
  
.banner button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 100;
    background: var(--color-primary);
    outline: none;
    border: .5px solid transparent;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
  }

.banner button:hover{
    background: transparent;
    border: .5px solid var(--color-primary);
  }

.banner button img{
    width: 35px;
  }
  
.banner .prev {
    left: 10px;
  }
  
.banner .next {
    right: 10px;
  }
  

.banner .lab{
    color: var(--color-primary);
}
.banner .left-section{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 40%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; 
    color: white; 
    width: 50vw;
}

.banner .left-section .logo-text {
    align-items: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.banner .left-section p{
    font-size: 1.2em;
    text-transform: capitalize;
    margin: 0px;
}
.banner .left-section img{
    max-width: 20%;
}

.banner .left-section .arrow-right{
   
    animation:next 1s infinite 0s alternate  ;
}

@keyframes next {
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}

.banner .left-section a{
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    border: 1px solid transparent;
    transition: all .2s ease;
}

.banner .left-section a:hover{
    background-color: transparent;
    border-color:var(--color-primary) ;
}

.banner-slides h2{
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding:5px ;
    text-align: center;
    background:var(--color-primary);
    color: white;
    font-family: calibri;
    font-size: 1em;
}



@media screen and (max-width:1500px) {
    .banner button img{
        width: 20px;
      }
      .banner .left-section .logo-text {
        font-size: 2em;
    }
    
    .banner .left-section p{
        font-size: .5em;
        font-weight: normal;
        width: 80%;
        text-align: center;
    }

    .banner .left-section{

        top: 35%;
        width: 80%; 
        
    }

    .banner .left-section img{
        max-width: 15%;
    }

    .banner .left-section a{
        padding: 8px 10px;
        width: 80%;
        font-size: .8em;
    }
    
    .banner-slides h2{
        font-size: .7em;
    }
    
}