.contactForm{
    font-family: calibri;

}

.contactForm > div:not(.messageAlert){
    display: flex;
    width: 100%;
    height: 100%;
    
}

.contactForm .right-contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contactForm  form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactForm .left-contact{
    position: relative;
    background: rgb(25, 25, 25);
    height: 100vh;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 1em;
    margin: auto 0px;
    overflow: hidden;
}

.contactForm .left-contact .cover{
    position: absolute;
    left: 0px;
    height: 0px;
    width: 110%;
    height: 110%;
    object-fit: cover;
    opacity: .05;
}

.contactForm .left-contact img{
    transform: translateY(5px);
}

.contactForm .left-contact h3{
    font-size: 1.5em;
}

.contactForm .left-contact p{
    opacity: .6;
    padding: 0px;
    margin: 0px;
}

.contactForm .left-contact > div{
    display: flex;
    align-items: start;
    width: 70%;
    margin: 0px auto;
    gap: 10px;
    
}


.right-contact input{
    width: 100%!important;
    padding: 15px;
    margin: 0px auto;
    margin-bottom: 10px;
    border-color:var(--color-primary-glass);
   
}

.right-contact textarea{
    min-height: 250px;
    border-color:var(--color-primary-glass);
}

.right-contact button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    background: var(--color-primary);
    cursor: pointer;
    font-size: 1.2em;
    transition: all .1s ease;
    border: 1px solid transparent;
}

.right-contact button img{
    margin: 0px 5px;
}

.right-contact button:hover{
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.right-contact button:hover img{
     filter: brightness(0) saturate(100%) invert(49%) sepia(91%) saturate(3318%) hue-rotate(161deg) brightness(104%) contrast(101%) !important;
}
.right-contact .error{
    color: red;
    margin-top: 10px;
    transform: translateY(-10px);
    font-size: .9em;
    opacity: .9;
}

.is-invalid{

    border-color: brown;
}

.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 0px 10px;
    text-align: center;
}
.contact-form h1{
    font-weight: bold;
    color: var(--color-primary);
    position: relative;
   text-transform: capitalize;
}

.contact-form h1::after{
    content: "";
    width: 80%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    height: 5px;
}
.contact-form p{
    color: var(--color-primary);
    padding: 10px;
}

@media screen and (max-width:1500px){
    .contactForm > div:not(.messageAlert){
        flex-wrap: wrap;
        
    }

    .contactForm{
        min-height: 530px !important;
    }

    .contactForm .left-contact{
        height: 400px;
    }

    .contactForm .left-contact{
        width: 100%;
    }

    .contactForm  form{
        width: 100%;
    }

    .contact-form h1{
        font-size: 2em;
    }
    
}