.ImageDisplay .first{
    max-width: 500px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
  
}


.ImageDisplay .first img{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(.95);
    border-radius: 5px;

}

.ImageDisplay .second {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-top:10px ;
    flex-wrap: wrap;
}

.ImageDisplay .second .box{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid var(--color-primary-glass);
    border-radius: 5px;
}

.ImageDisplay .second .box:hover{
    border-color: var(--color-primary);
}

.ImageDisplay .second .active{
    border-color: var(--color-primary);
}

.bg_hover{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--color-primary-glass);
    z-index: 5;
}

.ImageDisplay .second .box img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(.9);
}

.ImageDisplay input{
    width: 100%!important;
    padding: 12.5px !important;
}

.ImageDisplay .error{
    position: absolute;
    left: 5px;
}

.ImageDisplay button{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background: var(--color-primary);
    cursor: pointer;
    font-size: 1.2em;
    border: 1px solid transparent;
    font-family: calibri;
    outline: none;
    margin: 5px 0px;

}
.ImageDisplay button:active{
    transform: scale(.9);
   
}
.ImageDisplay button:hover{
    background:transparent;
    border-color:var(--color-primary) ;
    color: var(--color-primary);
}
.ImageDisplay .error{
    color: red;
    margin-top: 10px;
    transform: translateY(-10px);
    font-size: .9em;
    opacity: .9;
}

.is-invalid{

    border-color: brown;
}