.SectionCard{
    position: relative;
    max-width: 80%;
    padding: 30px 40px;
    margin: 25px auto;
    font-family:calibri ;
    overflow: hidden;
    border-radius: 10px;
    transition: all .1s ease;
    border: 1px solid rgba(255, 255, 255, 0.192);
}

.SectionCard:hover{
    box-shadow: 0px 0px 10px rgba(0, 35, 123, 0.187);
    transform: scale(1.05);
}

.SectionCard:hover p{
    opacity: 1;
}

.SectionCard div:hover  img{
    transform:  translateX(10px);
}

.SectionCard div img{
    transition: all .3s ease;
}

.SectionCard div{
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 20px;
}

.SectionCard  h1::first-letter{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.SectionCard  h1{
    font-size: 2.1em;
    font-weight: bold;
    color:white;
    position: relative;
    z-index: 2;
}


.SectionCard  p{
    color: rgba(255, 255, 255, 0.929);
    font-size: 1.2em;
    text-align: start;
    opacity: .85;
}