.navBar{
    display: flex;
    z-index: 10;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 10px;
    color: rgb(255, 255, 255);
    align-items: center;
    transition: all .5s ease;
}

.navBar *{
    opacity: 1;
}

.navBar .lab{
    color: var(--color-primary);
}

.navBar .left-section{

    display: flex;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    width: 20%; 
    cursor: pointer; 
    gap: 10px;
    text-decoration: none;
    color: white;
    
}

.navBar .left-section img{
    max-width: 50px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-42%) scale(1.9);
    transform-origin:center ;
    transition: all .2s ease;
}

.navBar .left-section .logo-container{
    width: 50px;
    height: 50px;
    background: var(--color-primary);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 1px black inset;
}

.navBar .left-section .logo-container:hover img{
    transform: translateX(-42%) translateY(20px) scale(1.9);
}

.navBar .center-section ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
    list-style: none;
    font-family: calibri;
    font-size: 1.1em;
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.525);
    background:var(--color-primary-glass);
    top: 50%;
}

.navBar .center-section ul a{
    text-decoration: none;
    color: white;
    background: var(--color-primary) ;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all .2s ease;
    
}

.navBar .center-section ul a:hover{
    background:rgb(14, 14, 14);
    padding: 10px 50px;
}

.navBar .center-section a{
    display: flex;
    align-items: center;
}
.navBar .center-section .shop img{
    max-width: 20px;
}

.navBar .right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background: var(--color-primary) ;
    position: relative;
    transition: all .2s ease;
    border: 1px solid transparent;
   
   
}
.navBar .right-section:hover{
    background: transparent;
    border-color: white;
}

.navBar .right-section:hover ul{
    display: flex !important;
}



.navBar .right-section ul:hover{
    display: flex !important;
} 

.navBar .right-section ul{
    display: none !important;
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    top: 140%;
    right: 0%;
    z-index: 5;
    list-style: none;
    width: 150px;
    padding: 15px 5px;
    background:#228dff27;
    box-sizing:content-box !important;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.251);
}



/*bordure de delimitation du curseur*/
.navBar .right-section ul::before{
    content: "";
    position: absolute;
    width: 160px;
    height: 150px;
    top: -35%;
    right: 0px;
    z-index: -10;
}

.navBar .right-section ul li a{
    text-decoration: none;
    font-family: calibri;
    color: white;
}

.navBar .right-section ul li{
    position: relative;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--color-primary) ;
    font-size: 1em;
    transition: all 0.2s ease;
    width:70%;
    border: 1px solid transparent;
   
}

.navBar .right-section ul li:hover{
    border-color:white ;
    background:transparent;    
}

.show{
    visibility: visible;
}

.navBar .opt-show{
    display: block;
}

.navBar .opt-hide{
    display: none;
}

@media screen and (max-width:1500px) {
    .navBar .center-section{
        display: none;
    }

    
.navBar .left-section{
    gap: 10px;
    font-size: 1.5em;
    width: 50%; 
}

.navBar .left-section img{
    max-width: 40px;
}
}

@media screen and (max-width:1500px) {
    .navBar{
        position: relative;
        background: rgb(29, 29, 29)!important;
    }

    .right-section .user{
        max-width: 20px;
        transform: translateY(-1px);
    }

    .navBar .right-section{
        width: 35px;
        height: 35px;
        
    }

    .navBar .left-section img{
        max-width: 30px;
    }

    .navBar .left-section span{
        font-size: .9em;
    }
    
}