.apropos{
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 20px;
    border-radius: 20px;
    position: relative;
    max-width: 1200px;
    padding: 10px 50px;
    transition: all .85s ease;
    background: white;
    box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.4);
}


.important{
     color: var(--color-primary) ;
}


.apropos .b-1 img{
    max-width: 150px;
}

.apropos .b-2 p{
    font-size: 1.2em;
    font-family: calibri;
    text-align: center;
    padding: 50px 10px;
    color: rgb(50, 50, 50);
}

.hide{
    opacity: 0;
    transform: translateY(100px);
}

.show{
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-width:1500px) {
    .apropos {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        margin: 20px 20px;
        opacity: 1;
        transform: translateY(0);
        padding: 20px;

    }

    .apropos .b-1 img{
        max-width: 100px;
    }

    .apropos .b-2 p{
        font-size: .9em;
        padding: 0px;
        margin-top: 15px;
        text-align: justify;
    }

    .apropos .b-1 {
        background: var(--color-primary);
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        border-radius: 10px 10px 0px 0px;
    }
    
}