.apropos{
    display: flex;
    position: relative;
    width: 100%;
    transition: all .85s ease;
    background: linear-gradient(45deg , var(--color-primary) , rgb(0, 104, 222));
    height: 400px;
   

}

.important{
     color: white !important;
}


.apropos .b-1{
    position: relative;
   display: flex;
   justify-content: center;
}


.apropos .b-1 img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.apropos .b-2{
    display: flex;
    align-items: center;
    padding: 0px 60px;
}

.apropos .b-2 p{
    font-size: 1.3em;
    font-family: calibri;
    text-align: justify;
    padding: 50px 10px;
    color: rgba(255, 255, 255, 0.628);
}

.apropos .b-2 p::first-letter{
    font-size: 1.5em;
}


@media screen and (max-width:1500px) {

    .apropos{
        height: auto;
    }
    .apropos .b-1{
        height: 200px;
    }

    .apropos .b-2{
        padding: 0px;
    }

    .apropos .b-2 p{
        padding: 30px;
        font-size: 1em;
    }
    
}