.ModelAppareilInput{
    position: relative;
    padding-top: 50px;
}


.ModelAppareilInput>button{
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px dashed var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    cursor: pointer;
    outline: none;
}

.modelAppareil-disable{
    color: rgb(81, 81, 81) !important;
    border-color:rgb(81, 81, 81) !important;
    opacity: .6;
}

.ModelAppareilInput form {
    position: relative;
    transition: all .3s ease;
    margin-top: -200px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.ModelAppareilInput .error{
    color: red;
    margin-top: 10px;
    transform: translateY(-10px);
    font-size: .9em;
    opacity: .9;
}

.form-show{
    opacity: 1;
    margin-top:0px !important;
}

.form-hide{
    margin-top: -100px;
    opacity: 0;
    visibility: hidden;
}

.ModelAppareilInput form img:first-child{
    position: absolute;
    right: 15px;
    z-index: 1;
    top: -25px;
    z-index: 10;
}

.ModelAppareilInput form input{
    padding: 15px;
    border-color: var(--color-primary);
}

.ModelAppareilInput form select{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border-color: var(--color-primary);
    color: rgb(119, 119, 119);
    outline: none;
    margin-bottom: 0px !important;
}

.ModelAppareilInput #description{
    min-height:150px !important;
}

.ModelAppareilInput textarea{
    border-color: var(--color-primary);
}

.is-invalid{
    border-color: rgb(255, 0, 0) !important;
  
}

.ModelAppareilInput form select:focus{
    
    box-shadow: 0px 0px 5px rgba(0, 140, 255, 0.699);
}

.ModelAppareilInput form button{
    position: relative;
    padding: 15px;
    width: 100%;
    background: var(--color-primary);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    transition: all .2s ease;
}

.ModelAppareilInput form button:hover{
    border-color: var(--color-primary);
    background: transparent;
    color: var(--color-primary);
}

.ModelAppareilInput form button:active{
    transform: scale(.9);
}