*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
:root{
    --color-primary: rgb(28, 123, 255);
    --color-primary-glass:  #228dff4b;
}

body{
    position: relative!important;
    overflow-x: hidden;
}