.CategorieInput{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
   
}


.CategorieInput button:first-child{
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px dashed var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
    cursor: pointer;
    outline: none;
}

.categorie-disable{
    color: rgb(81, 81, 81) !important;
    border-color:rgb(81, 81, 81) !important;
    opacity: .6;
}

.CategorieInput form {
    position: relative;
    transition: all .3s ease;
    margin-top: -130px;
}

.CategorieInput .error{
    color: red;
    margin-top: 10px;
    transform: translateY(-10px);
    font-size: .9em;
    opacity: .9;
}

.form-show{
    opacity: 1;
    margin-top:0px !important;
}

.form-hide{
    margin-top: -100px;
    opacity: 0;
}

.CategorieInput form img:first-child{
    position: absolute;
    right: 0px;
    z-index: 1;
    top: -25px;
    z-index: 10;
}

.CategorieInput form input{
    padding: 15px;
}

.CategorieInput form button{
    position: relative;
    padding: 15px;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    color: var(--color-primary);
    cursor: pointer;
    outline: none;
    border: 1px solid var(--color-primary);
    transition: all .85s ease;
}

.CategorieInput form button:hover{
    border: 1px solid transparent;
    background: var(--color-primary-glass);
}

.CategorieInput form button:active{
    transform: scale(.9);
}